<div class="home-hero" style="order: 1; width: 100%">
  <div class="home-only-elements" [class.fade-out]="state.isAnimatingOut()">
    <app-hero-section />
  </div>
</div>

<div class="home-agents" style="order: 3; width: 100%">
  <div class="home-only-elements" [class.fade-out]="state.isAnimatingOut()">
    
    <!-- <app-agent-selector [class.tour-glow]="state.tourStep() >= 5 && state.tourStep() <= 7" style="position: relative; overflow: visible;" />
    <app-suggestions [class.tour-glow]="state.tourStep() === 8" style="position: relative; overflow: visible;" /> -->

  </div>
</div>
